.interface {
    background-color: rgba(0, 0, 0, 50%);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition-duration: 0.5s;
}

.interface.hide {
    background-color: transparent;
}

.slide-pane {
    background-color: rgba(0, 0, 0, 50%);
    color: white;
}

.slide-pane div{
    background-color: rgba(0, 0, 0, 50%);
    color: white;
}

.slide-pane__title-wrapper .slide-pane__subtitle{
    display: none;
}